body {
    background-color: rgb(20, 20, 20);
    color: antiquewhite;
    font-family: 'Cardo', serif;
}

h1 {
    font-family: 'Marcellus SC', serif;
    font-size: 45px;
    font-weight: 100;
}
canvas,
svg {
    display: block;
}
.test {
    position: relative;
    height: 65vh;
    width: 100%;
    border-color: antiquewhite;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    user-select: none;
    -moz-user-select: none;
}

.round-button {
    background-color: antiquewhite;
    border-style: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
}
.round-button:focus {
    outline: none;
    border: solid rgb(129, 101, 65) 2px;
}

i {
    font-size: 34px;
}

.test .link {
    height: 70px;
    display: inline-block;
}
h2 {
    text-align: center;
}

.test a.link:link,
.test a.link:visited {
    text-decoration: none;
    color: antiquewhite;
}

.test a.link:hover,
.test a.link:active {
    text-decoration: none;
    color: rgb(163, 149, 124);
    font-size: 35px;
}

.text-content {
    font-family: 'Consolas', sans-serif;
    font-size: 45px;
    line-height: 0.34em;
    letter-spacing: -9.7px;
    color: antiquewhite;
    overflow: unset;
    margin: 0;
    transform: translate(-3%, -2%);
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid rgba(128, 128, 128, 0.425) 1px;
}

.label {
    font-size: 50px;
    margin: 5px;
}

.navbar {
    background-color: rgb(20, 20, 20);
}

.controls {
    display: none;
    position: relative;
}

.size-control {
    position: absolute;
    top: 20%;
    right: 0;
}
.size-control label {
    font-size: 20px;
}

.size-control .size-input {
    width: 100px;
    font-weight: 600;
    border-radius: 3px;
}

input[type='range'] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    direction: rtl;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: antiquewhite;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: antiquewhite;
}
